.body{
    border: 1px solid red;
    padding: 30px;
    height: 100vh;
    color: white;
    flex: 1;
    background: linear-gradient( rgb(91, 87, 115),#000000);
    overflow-y: overlay;
}

.body::-webkit-scrollbar{
    display:  none;
}

.body__info{
    border: 1px solid rgb(18, 103, 29);
    display: flex;
    align-items: center;
    padding:10px;
}

.body__info >img{
    height: 15vw;
    margin: 0 20px;
    box-shadow: 0 4px 60px rgba(0,0,0,0.5);
}

.body__infoText{
    border: 1px solid rgb(145, 255, 0);
    flex: 1;
}

.body__infoText > h2{
    font-size: 64px;
    margin-bottom: 10px;
}

.body__infoText > p {
   font-size: 14px;
}

.body__icons{
    display: flex;
    align-items: center;
}

.body__icons > .MuiSvgIcon-root{
    margin-right :20px;
}

.body__shuffle{
    font-size:  80px !important;
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.body__shuffle:hover{
    transition: 100ms transform ease-in;
    transform: scale(1.08);
}

.body__songs{
    margin:20px -30px;
}

