.body{
    height: 100vh;
    position: relative;
    color: white;
    flex:1;
    background: linear-gradient( rgb(100, 225, 229) 0%,#000000);
    overflow-y: overlay;
}

.body__uper{
    padding-top: 30px;
    padding-bottom: 10px;
    background-color:  rgb(100, 225, 229);
    background: linear-gradient(rgb(100, 225, 229) ,rgba(0,94,97,0.5));
}

.body__lower{
    padding-left:15px;
}
.body::-webkit-scrollbar{
    display:  none;
}

.body__info{
    display: flex;
    align-items: center;
    padding:10px;
}

.body__info >img{
    height: 15vw;
    margin: 0 20px;
    box-shadow: 0 4px 60px rgba(0,0,0,0.5);
}

.body__infoText{
    flex: 1;
}

.body__infoText > h2{
    font-size: 95px;
    margin-bottom: 10px;
}

.body__infoText > p {
   font-size: 20px;
}

.body__icons{
    display: flex;
    align-items: center;
}

.body__icons > .MuiSvgIcon-root{
    margin-right :20px;
}

.body__shuffle{
    font-size:  80px !important;
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 50%;
    box-shadow: 0 4px 60px rgba(0, 0, 0, 0.5);
}

.body__shuffle:hover{
    transition: 100ms transform ease-in;
    transform: scale(1.08);
}

.body__songs{
    margin:20px -30px;
}

