.footer{
    position: fixed;
    display: flex;
    justify-content: space-between;
     bottom:0;
     height:45px;
     width: 97%;
     background-color: #282828;
     padding: 20px; 
}

.footer__albumLogo{
    height: 60px;
    width: 60px;
    margin-right: 20px;
    object-fit:contain ;
}

.footer__left{
    flex:0.3;
    /* border: 1px solid white; */
    color: white;
    align-items: center;
    display: flex;
    width: 300px;
}
.footer__center{
    flex:0.4;
    /* border: 1px solid red; */
    padding: 0 100px;
    color:white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 200px;
}
.footer__right{
    flex:0.3;
    display: flex;
    /* border: 1px solid yellow; */
    color:white;
    align-items: center;
    justify-content: space-around;
    min-width: 150px;
}

.footer__right * .MuiSlider-root{
    color: #1DB954;
}

.footer__green{
    color: #1DB954;
}

.footer__songInfo >h4{
    margin-bottom: 5px;
}

.footer__songInfo >p {
    font-size: 12px;
}

.footer__icon:hover,
.footer__greeen:hover{
    transition: transform 0.2s ease-in-out;
    transform : scale(1.2) !important;
}